<!-- Panel START -->
<div class="panel panel-primary">
		
	<!-- Panel Heading START -->
	<div class="panel-heading">
		<b>Add House Owner</b>
	<!-- Panel Heading END -->
	</div>
		
	<!-- Panel Body START -->
	<div class="panel-body">

		<!-- FORM START -->	
		<form class="form-horizontal" role="form" action="" method=post> 
				
			<!-- Select HouseName/HouseID -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">House:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="HouseNumber" name="HouseNumber" placeholder="Enter House Number..." required>
				</div>						
			</div>
				
			<!-- Select Title/TitleCode -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Title:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="TitleCode" name="TitleCode" placeholder="Select Title..." required>
				</div>						
			</div>	
					
			<!-- Enter FirstName -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">First Name:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="FirstName" name="FirstName" placeholder="Enter First Name...">
				</div>						
			</div>
						
			<!-- Enter Middle Name -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Middle Name:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="MiddleName" name="MiddleName" placeholder="Enter Middle Name...">
				</div>						
			</div>				

			<!-- Enter Last Name -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Last Name:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="LastName" name="LastName" placeholder="Enter Last Name...">
				</div>						
			</div>					
								
			<!-- Select Gender -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Gender:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="Gender" name="Gender" placeholder="Select Gender...">
				</div>						
			</div>	
					
			<!-- Enter Email -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Email:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="Email" name="Email" placeholder="Enter Email Address...">
				</div>						
			</div>
				
			
			<!-- Enter MobileNo -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Mobile Number:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="MobileNo" name="MobileNo" placeholder="Enter Mobile Number...">
				</div>							
			</div>	
	
			<!-- Enter PhoneNo -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Phone Number:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="PhoneNo" name="PhoneNo" placeholder="Enter Phone Number...">
				</div>						
			</div>
	
			<!-- Enter Address -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Address:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="Address" name="Address" placeholder="Enter Address...">
				</div>						
			</div>
														
	<!-- Panel Body END -->
	</div>
		
			<!-- Panel Footer START -->
			<div class="panel-footer panel-primary">
				
					<!-- Buttons -->
					<div class="col-md-12 col-sm-12">
						<div class="btn-group" role="group" aria-label="...">
							<button type="submit" class="btn btn-success"> Save </button>
							<a class="btn btn-primary">Cancel</a>
						</div>
					</div>
					<!-- Following Div is required to fit above buttons within this footer -->
					<div class="clearfix"></div>
						
			<!-- Panel Footer END -->		
			</div>
		
		<!-- FORM END -->
		</form>
		
<!-- Panel END -->
</div>