<!-- Panel START -->
<div class="panel panel-primary">
		
	<!-- Panel Heading START -->
	<div class="panel-heading">
		<b>Add Sensor</b>
	<!-- Panel Heading END -->
	</div>
		
	<!-- Panel Body START -->
	<div class="panel-body">

		<!-- FORM START -->	
		<form class="form-horizontal" role="form" action="" method=post> 

			<!-- Select ControllerID / Controller -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Controller:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="ControllerID" name="ControllerID" placeholder="Select Controller..." required>
				</div>						
			</div>
			
		
			<!-- Select SensorCode / Sensor -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Sensor:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="SensorCode" name="SensorCode" placeholder="Select Sensor..." required>
				</div>						
			</div>
					
			<!-- Enter Alias / Sensor Name -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Alias:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="Alias" name="Alias" placeholder="Enter Sensor Alias..." required>
				</div>						
			</div>	
					
			<!-- Enter Description -->
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Description:</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="Description" name="Description" placeholder="Enter Description...">
				</div>						
			</div>
						
			<!-- Enter KeepAlive Interval (Sec) -->				
			<div class="form-group col-md-6 col-sm-12">	
				<div class="text-left col-md-4 col-sm-4">Keep Alive Int (Sec):</div>
				<div class="text-left col-md-8 col-sm-8">
					<input type="text" class="form-control input-sm" id="KeepAliveInterval" name="KeepAliveInterval" placeholder="KeepAlive Interval in Sec...">
				</div>						
			</div>		
														
	  	<!-- Panel Body END -->
		</div>
		
			<!-- Panel Footer START -->
			<div class="panel-footer panel-primary">
				
					<!-- Buttons -->
					<div class="col-md-12 col-sm-12">
						<div class="btn-group" role="group" aria-label="...">
							<button type="submit" class="btn btn-success"> Save </button>
							<a class="btn btn-primary">Cancel</a>
						</div>
					</div>
					<!-- Following Div is required to fit above buttons within this footer -->
					<div class="clearfix"></div>
						
			<!-- Panel Footer END -->		
			</div>
		
		<!-- FORM END -->
		</form>
		
<!-- Panel END -->
</div>